h1
{ font-family:Arial,sans-serif; font-size:28px;}

h3
{ font-family:Arial,sans-serif; }

p, td
{ font-family:Arial,sans-serif; font-size:14px; }

a:link
{ font-family:Arial,sans-serif; font-size:14px; text-decoration:none; }

a:visited
{ font-family:Arial,sans-serif; font-size:14px; text-decoration:none; }

a:active
{ font-family:Arial,sans-serif; font-size:14px; text-decoration:none; }

a:hover
{ font-family:Arial,sans-serif; font-size:14px; text-decoration:underline; }